<?xml version="1.0" encoding="utf-8"?>
<Objects>
  <Object Type="Microsoft.Management.Infrastructure.CimInstance">
    <Property Name="Caption" Type="System.String">DESKTOP-J67B1KV</Property>
    <Property Name="Description" Type="System.String">AT/AT COMPATIBLE</Property>
    <Property Name="InstallDate" Type="CimInstance#DateTime" />
    <Property Name="Name" Type="System.String">DESKTOP-J67B1KV</Property>
    <Property Name="Status" Type="System.String">OK</Property>
    <Property Name="CreationClassName" Type="System.String">Win32_ComputerSystem</Property>
    <Property Name="NameFormat" Type="string" />
    <Property Name="PrimaryOwnerContact" Type="string" />
    <Property Name="PrimaryOwnerName" Type="System.String">Eric Hanko</Property>
    <Property Name="Roles" Type="System.String[]">
      <Property Type="System.String">LM_Workstation</Property>
      <Property Type="System.String">LM_Server</Property>
      <Property Type="System.String">NT</Property>
    </Property>
    <Property Name="InitialLoadInfo" Type="string[]" />
    <Property Name="LastLoadInfo" Type="string" />
    <Property Name="PowerManagementCapabilities" Type="uint16[]" />
    <Property Name="PowerManagementSupported" Type="bool" />
    <Property Name="PowerState" Type="System.UInt16">0</Property>
    <Property Name="ResetCapability" Type="System.UInt16">1</Property>
    <Property Name="AdminPasswordStatus" Type="System.UInt16">1</Property>
    <Property Name="AutomaticManagedPagefile" Type="System.Boolean">True</Property>
    <Property Name="AutomaticResetBootOption" Type="System.Boolean">True</Property>
    <Property Name="AutomaticResetCapability" Type="System.Boolean">True</Property>
    <Property Name="BootOptionOnLimit" Type="uint16" />
    <Property Name="BootOptionOnWatchDog" Type="uint16" />
    <Property Name="BootROMSupported" Type="System.Boolean">True</Property>
    <Property Name="BootStatus" Type="uint16[]" />
    <Property Name="BootupState" Type="System.String">Normal boot</Property>
    <Property Name="ChassisBootupState" Type="System.UInt16">3</Property>
    <Property Name="ChassisSKUNumber" Type="string" />
    <Property Name="CurrentTimeZone" Type="System.Int16">-480</Property>
    <Property Name="DaylightInEffect" Type="System.Boolean">False</Property>
    <Property Name="DNSHostName" Type="System.String">DESKTOP-J67B1KV</Property>
    <Property Name="Domain" Type="System.String">WORKGROUP</Property>
    <Property Name="DomainRole" Type="System.UInt16">0</Property>
    <Property Name="EnableDaylightSavingsTime" Type="System.Boolean">True</Property>
    <Property Name="FrontPanelResetStatus" Type="System.UInt16">0</Property>
    <Property Name="HypervisorPresent" Type="System.Boolean">True</Property>
    <Property Name="InfraredSupported" Type="System.Boolean">False</Property>
    <Property Name="KeyboardPasswordStatus" Type="System.UInt16">0</Property>
    <Property Name="Manufacturer" Type="System.String">Microsoft Corporation</Property>
    <Property Name="Model" Type="System.String">Surface Pro 3</Property>
    <Property Name="NetworkServerModeEnabled" Type="System.Boolean">True</Property>
    <Property Name="NumberOfLogicalProcessors" Type="System.UInt32">4</Property>
    <Property Name="NumberOfProcessors" Type="System.UInt32">1</Property>
    <Property Name="OEMLogoBitmap" Type="byte[]" />
    <Property Name="OEMStringArray" Type="System.String[]">
      <Property Type="System.String">jMpAoK0BHdRA5</Property>
      <Property Type="System.String">VsjMHCIczqI5G</Property>
      <Property Type="System.String">XMEXlGursaKY4</Property>
    </Property>
    <Property Name="PartOfDomain" Type="System.Boolean">False</Property>
    <Property Name="PauseAfterReset" Type="System.Int64">-1</Property>
    <Property Name="PCSystemType" Type="System.UInt16">2</Property>
    <Property Name="PCSystemTypeEx" Type="System.UInt16">8</Property>
    <Property Name="PowerOnPasswordStatus" Type="System.UInt16">0</Property>
    <Property Name="PowerSupplyState" Type="System.UInt16">3</Property>
    <Property Name="ResetCount" Type="System.Int16">-1</Property>
    <Property Name="ResetLimit" Type="System.Int16">-1</Property>
    <Property Name="SupportContactDescription" Type="string[]" />
    <Property Name="SystemFamily" Type="System.String">Surface</Property>
    <Property Name="SystemSKUNumber" Type="System.String">Surface_Pro_3</Property>
    <Property Name="SystemStartupDelay" Type="uint16" />
    <Property Name="SystemStartupOptions" Type="string[]" />
    <Property Name="SystemStartupSetting" Type="byte" />
    <Property Name="SystemType" Type="System.String">x64-based PC</Property>
    <Property Name="ThermalState" Type="System.UInt16">3</Property>
    <Property Name="TotalPhysicalMemory" Type="System.UInt64">8490393600</Property>
    <Property Name="UserName" Type="System.String">DESKTOP-J67B1KV\Eric Hanko</Property>
    <Property Name="WakeUpType" Type="System.UInt16">6</Property>
    <Property Name="Workgroup" Type="System.String">WORKGROUP</Property>
    <Property Name="PSComputerName" Type="string" />
    <Property Name="CimClass" Type="Microsoft.Management.Infrastructure.CimClass">
      <Property Name="CimClassName" Type="System.String">Win32_ComputerSystem</Property>
      <Property Name="CimSuperClassName" Type="System.String">CIM_UnitaryComputerSystem</Property>
      <Property Name="CimSuperClass" Type="Microsoft.Management.Infrastructure.CimClass">
        <Property Name="CimClassName" Type="System.String">CIM_UnitaryComputerSystem</Property>
        <Property Name="CimSuperClassName" Type="System.String">CIM_ComputerSystem</Property>
        <Property Name="CimSuperClass" Type="Microsoft.Management.Infrastructure.CimClass">ROOT/cimv2:CIM_ComputerSystem</Property>
        <Property Name="CimClassProperties" Type="Microsoft.Management.Infrastructure.Internal.Data.CimClassPropertiesCollection" />
        <Property Name="CimClassQualifiers" Type="Microsoft.Management.Infrastructure.Internal.Data.CimClassQualifierCollection" />
        <Property Name="CimClassMethods" Type="Microsoft.Management.Infrastructure.Internal.Data.CimMethodDeclarationCollection" />
        <Property Name="CimSystemProperties" Type="Microsoft.Management.Infrastructure.CimSystemProperties">Microsoft.Management.Infrastructure.CimSystemProperties</Property>
      </Property>
      <Property Name="CimClassProperties" Type="Microsoft.Management.Infrastructure.Internal.Data.CimClassPropertiesCollection">
        <Property Name="Count" Type="System.Int32">64</Property>
      </Property>
      <Property Name="CimClassQualifiers" Type="Microsoft.Management.Infrastructure.Internal.Data.CimClassQualifierCollection">
        <Property Name="Count" Type="System.Int32">5</Property>
      </Property>
      <Property Name="CimClassMethods" Type="Microsoft.Management.Infrastructure.Internal.Data.CimMethodDeclarationCollection">
        <Property Name="Count" Type="System.Int32">4</Property>
      </Property>
      <Property Name="CimSystemProperties" Type="Microsoft.Management.Infrastructure.CimSystemProperties">
        <Property Name="Namespace" Type="System.String">root/cimv2</Property>
        <Property Name="ServerName" Type="System.String">DESKTOP-J67B1KV</Property>
        <Property Name="ClassName" Type="System.String">Win32_ComputerSystem</Property>
        <Property Name="Path" Type="System.String" />
      </Property>
    </Property>
    <Property Name="CimInstanceProperties" Type="Microsoft.Management.Infrastructure.Internal.Data.CimPropertiesCollection">
      <Property Name="Count" Type="System.Int32">64</Property>
    </Property>
    <Property Name="CimSystemProperties" Type="Microsoft.Management.Infrastructure.CimSystemProperties">
      <Property Name="Namespace" Type="System.String">root/cimv2</Property>
      <Property Name="ServerName" Type="System.String">DESKTOP-J67B1KV</Property>
      <Property Name="ClassName" Type="System.String">Win32_ComputerSystem</Property>
      <Property Name="Path" Type="System.String" />
    </Property>
  </Object>
</Objects>