.eggs/
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/
.idea/dictionaries/
.idea/*
.cache/
*.iml
*.egg-info
build/
dist/
**/__pycache__/
*/__pycache__/
**.pyc
*.pyc
.python-version
qrtest.py
htmlcov/
!.coverage
!python.ini
